@font-face {
  font-family: minsk;
  src: url("../assets/fonts/Minsk-regular_1.otf");
}

* {
  box-sizing: border-box;
  font-weight: 400;
}
:root {
  --green-accent: #afaf95;
  --light-primary: #fff5e9;
  --dark-primary: #222;
  --red-primary: #8f250d;
  --red-accent: #6a1e06;
  --green-primary: #606d38;
}

body {
  margin: 0;
  padding: 0;
  font-family: minsk;
  color: #fff;
  letter-spacing: max(0.3vw 10px);
}
.left .landing {
  background-color: var(--red-primary);
  padding: 1rem;
}
.logo {
  width: 288px;
  height: 66px;
}
.alt {
  width: 288px;
  height: 35px;
  margin-top: 3rem;
}
.landing a {
  color: #fff;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 0.8rem;
}
.about {
  padding: 2rem 1rem;
  background-color: var(--green-primary);
}
.about p {
  font-size: 0.8rem;
}
.moto {
  background-color: var(--red-primary);
}
.moto p {
  padding: 3rem 1rem;
  margin: 0;
}
.ornament {
  height: 4rem;
  display: flex;
  background-image: url("../assets/ornament_bel.webp");
  background-size: contain;
}
.download {
  justify-content: center;
  background-color: var(--red-accent);
  color: #fff;
  margin-left: 0;
  padding: 1rem 0;
  font-size: 1.2rem;
}
.right .landing {
  background-color: var(--light-primary);
  color: var(--dark-primary);
}
.right .landing img {
  width: 48px;
  height: 48px;
  object-fit: contain;

  margin-right: 1rem;
}
.right .landing div {
  padding: 1rem;
}
.right .ornament {
  background-image: url("../assets/ornament_zel.webp");
}
ul {
  padding-left: 1rem;
  list-style-type: none;
}
li {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0;
}
.benefits {
  background-color: var(--red-accent);
  padding: 2rem 1rem;
}
.benefits ul {
  list-style-type: disc;
  font-size: 0.9rem;
}
.products {
  background-color: var(--red-primary);
  padding: 2rem 1rem;
}
.products li {
  align-items: center;
  font-size: 1.5rem;
}
.products img {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}
footer {
  display: flex;
  flex-direction: column;

  background-color: var(--light-primary);
}
footer img {
  width: 140px;
  height: 140px;
}
.partners {
  padding: 1rem 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: var(--green-accent);
}
a {
  display: flex;
  color: var(--dark-primary);
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 100;
}
.contacts {
  color: var(--dark-primary);
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .left .landing {
    padding: 2rem;
  }
  .landing p {
    font-size: 1.5rem;
  }
  .landing .alt {
    width: 500px;
    height: 70px;
  }
  .landing a {
    font-size: 1rem;
  }
  .about {
    padding: 2rem;
  }
  .about p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .moto p {
    padding: 4rem 2rem;
    font-size: 1.5rem;
  }
  .right .landing h1 {
    margin-left: 1rem;
  }
  .right .landing ul {
    margin-left: 2rem;
  }
  .right .landing img {
    width: 80px;
    height: 80px;
  }
  .right .landing span {
    font-size: 1.5rem;
  }
  .benefits {
    padding: 2rem;
  }
  .benefits li {
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .products {
    padding: 2rem;
  }
  .products img {
    width: 100px;
    height: 100px;
  }
  .products span {
    font-size: 2rem;
  }
  .partners {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 800px) {
  .left .landing p {
    margin: 3rem;
    font-size: 2rem;
  }
  .left .alt {
    width: 698px;
    height: 83px;
  }
  .left .landing a {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .about p {
    font-size: 1.6rem;
  }
  .moto p {
    padding: 6rem 3rem;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }
  main {
    display: grid;
    grid-template-columns: 7fr 5fr;
  }

  .left {
    display: grid;
    grid-template-rows: 700px 1000px 600px;
  }
  .left .landing img {
    display: block;
  }
  .right {
    display: grid;
    grid-template-rows: 700px 700px 900px;
  }
  .benefits li {
    font-size: 1.5rem;
  }
  .products li {
    margin: 4rem 0;
  }
  .download {
    font-size: 1.5rem;
    padding: 2rem 0;
  }

  footer {
    display: grid;
    grid-template-columns: 7fr 5fr;
    padding-bottom: 5rem;
  }
  footer img {
    width: 200px;
    height: 200px;
  }
  .partners {
    height: 200px;
    padding: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .left {
    grid-template-rows: 900px 1200px 700px;
  }
  .right {
    grid-template-rows: 900px 800px 1100px;
  }
  .logo {
    width: 350px;
    height: 80px;
  }
  .left .landing {
    padding: 4rem;
  }
  .left .landing p {
    font-size: 3rem;
    margin: 4rem;
  }
  .left .landing a {
    font-size: 2rem;
  }
  .about {
    padding: 4rem;
  }
  .about p {
    font-size: 2rem;
  }
  .moto p {
    padding: 4rem;
    font-size: 3rem;
  }
  .right .landing ul {
    margin: 4rem;
  }
  .right .landing li {
    margin: 4rem 0;
  }
  .right .landing img {
    margin-right: 2rem;
  }
  .right .landing span {
    font-size: 2rem;
  }
  .benefits li {
    font-size: 2rem;
    margin: 3rem 2rem;
  }
  .products li {
    margin: 5rem 3rem;
  }
  .products img {
    width: 140px;
    height: 140px;
    margin-right: 3rem;
  }
  .products span {
    font-size: 3rem;
  }
  footer img {
    width: 280px;
    height: 280px;
  }
  footer .partners {
    height: 280px;
  }
  footer span {
    font-size: 2.5rem;
  }
  .contacts {
    padding: 2rem 3rem;
  }
  footer a {
    font-size: 2rem;
  }
}